.page-header {
  text-align: center;
  background-color: lightgrey;
}

.underline {
  text-decoration: underline;
}
/*img {
  max-width: 500px;
  max-height: 500px;
  position: center;
}*/
.background {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-attachment: fixed;
  background-image: url('/assets/img/fargo.jpg');
  background-repeat: no-repeat;
}
.page-footer {
  position: fixed;
  text-align: center;
  font-weight: 200;
  left:0px;
  bottom:0px;
  height:30px;
  width:100%;
}

.breadcrumb{
  background-color: lightgrey;
}

h1 {
  font-weight: normal;
  text-align: center;
}
