.page-header {
  text-align: center;
}

.page-footer {
  position: fixed;
  text-align: center;
  font-weight: 200;
  left:0px;
  bottom:0px;
  height:30px;
  width:100%;
}

.breadcrumb{
  background-color: white;
}
