.page-header {
  text-align: center;
  background-color: lightgrey;
}

.background {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-position: center;
  background-attachment: fixed;
  background-image: url('/assets/img/jhowell.jpg');
  background-repeat: no-repeat;
}
.page-footer {
  position: fixed;
  text-align: center;
  font-weight: 200;
  left:0px;
  bottom:0px;
  height:30px;
  width:100%;
}

.breadcrumb{
  background-color: lightgrey;
}
