<h1>About Film Talk</h1>

<div class="row">
  <div class="col-lg-4">
    <h4>This site was made using Ember. It fulfills the requirements for the Week Three Code Review as well as provides a fun place for people to submit their film-related questions and also answer others' questions. The process of making this site included creating various routes, components, and templates. Here is a screenshot of some of the coding that went into this project: </h4>
  </div>
  <div class="col-lg-8">
    <img class="sample" src="/assets/img/codesample.png">
  </div>
</div>
