<div class="page-header">
  <h1>Answer Blog
    <small>Post a question, receive an answer!</small>
  </h1>
  <ol class="breadcrumb">
    <li>{{#link-to 'index'}}Home{{/link-to}}</li>
    <li>{{#link-to 'about'}}About{{/link-to}}</li>
  </ol>
</div>


<div class="container">
{{outlet}}
</div>

<div class="page-footer">
  <p>Copyright (c) 2016 | Yvonna Contreras | Epicodus | Portland, OR</p>
</div>
