
<div class="page-header">
  <h1 class="white">Question Blog</h1>
</div>



<div class="container">
{{outlet}}
</div>

<div class="page-footer">
  <p>Copyright (c) 2016 | Yvonna Contreras | Epicodus | Portland, OR</p>
</div>
