
<h3>Submitted Questions:</h3>

<ul>
  {{#each model.questions as |question|}}
    {{question-tile question=question}}
  {{/each}}
</ul>

<h4>Bookmarked: </h4>
{{display-bookmarks}}

<br>
{{new-question saveQuestion='saveQuestion'}}
