
<h3>Submitted Questions:</h3>

<ul>
  {{#each model as |question|}}
    {{question-tile question=question destroyQuestion="destroyQuestion"}}
  {{/each}}
</ul>

{{new-question saveQuestion='saveQuestion'}}
